<header>
	<img src="/assets/images/tmp-header.png" style="max-width:100%" />
	<h1>{{model.title}}</h1>
</header>
<p class="meta"><span class="glyphicon glyphicon-user"></span> <a href="#">{{model.author.fullName}}</a> <span class="glyphicon glyphicon-calendar"></span> {{format-date model.created}} <span class="glyphicon glyphicon-comment"></span> <a href="#comments">{{model.commentCount}} Comments</a> <span class="glyphicon glyphicon-tags"></span> <a href="#">Brewing</a>, <a href="#">Hops</a></p>
<hr />
<div style="display:block;">
	<div class="body">
		{{! Use tripple braces to show html unencoded }}
		<p>{{{model.htmlContent}}}</p>
	</div>
	<div class="comments">
		<h3 id="comments">Comments ({{model.commentCount}})</h3>
		<hr />
		{{#each model.rootComments as |comment|}}
		<div class="comment clearfix">
			<div class="comment-avatar">
				<img src={{comment.author.profile.picture}} alt="avatar">
			</div>
			<div class="comment-content clearfix">
				<div class="comment-author">
					<a href="#">{{comment.author.fullName}}</a>
				</div>
				<div class="comment-body">
					<p>{{{comment.content}}}</p>
				</div>
				<div class="comment-meta font-alt">{{format-date comment.created}} - <a href="#">Reply</a></div>
			</div>
			<!-- Comment 2 start -->
			{{#each comment.children as |childComment|}}
			<div class="comment clearfix">
				<div class="comment-avatar">
					<img src={{childComment.author.profile.picture}} alt="avatar">
				</div>
				<div class="comment-content clearfix">
					<div class="comment-author">
						<a href="#">{{childComment.author.fullName}}</a>
					</div>
					<div class="comment-body">
						<p>{{{childComment.content}}}</p>
					</div>
					<div class="comment-meta font-alt">{{format-date childComment.created}} - <a href="#">Reply</a></div>
				</div>
			</div>
			{{/each}}
			<!-- Comment 2 end -->
		</div>
		{{/each}}
		{{#if authManager.isAuthenticated}}
		<hr />
		{{outlet}}
		{{/if}}
	</div>
</div>