<div class="container-fluid">
      <div class="col-md-12">
          <div class="container-fluid">
            {{#each model as |beer|}}
              <div class="row">
                    <div class="col-md-4">
                        <img src="/assets/images/{{beer.imageName}}" style="max-width:100%; max-height:400px;" />
                    </div>
                    <div class="col-md-8" style="">
                        {{#link-to "beer" beer}}<h1>{{beer.name}}</h1>{{/link-to}}
                        <p>
                            {{{beer.description}}}
                            <ul>
                                <li>ABV: {{beer.abv}}</li>
                            </ul>
                        </p>
                        <p class="brew-meta">
                            <a href="{{beer.untappdUrl}}" target="_blank"><img src="/assets/images/ut_icon_50.png"/></a>
                        </p>
                    </div>
                </div>
                <hr />
            {{/each}}
          </div>
      </div>
  </div>
