<div class="container-fluid">
	<div class="col-md-6">
		<div class="container-fluid" style="background-color:aliceblue">
			<div style="font-size: 36px; font-weight:bold;">
				<i class="fa fa-beer" aria-hidden="true"></i> {{model.session.recipe.beer.name}} {{if hasUnsavedChanges "*" ""}}
			</div>
			<p>Brewing Date: {{format-date model.session.date}}</p>

			<p>Style: {{model.session.recipe.beer.beerType.name}}</p>
			<p>Pre Boil Volume: {{model.session.recipe.preBoilVolume}} l (Recipe: {{model.session.recipe.preBoilVolume}} l, Scaling: {{format-number model.session.recipeScaling 2}})</p>
		</div>

		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="glyphicon glyphicon-home" aria-hidden="true"></i> Session Setup
			</div>
			<div>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>Brewing System</td>
							<td colspan="2">
								{{#power-select options=model.brewingSystems selected=model.session.brewingSystem onchange=(action (mut model.session.brewingSystem)) as |system|}}
								{{system.name}}
								{{/power-select}}
							</td>
						</tr>
						<tr>
							<td>Brewers</td>
							<td>
								{{#each model.session.brewers as |brewer|}}
								{{brewer.brewer.fullName}},
								{{/each}}
							</td>
							<td>
								{{collapse-button toggleParam=showAddBrewer}}
							</td>
						</tr>
						{{#if showAddBrewer}}
						<tr>
							<td colspan="2">{{#power-select options=model.users selected=newBrewer onchange=(action (mut newBrewer)) as |brewer|}}{{brewer.fullName}}{{/power-select}} </td>
							<td><button {{action "addBrewer"}} class="btn btn-link" style="padding:0px;"><i class="fa fa-plus" aria-hidden="true"></i></button> </td>
						</tr>
						{{/if}}
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="glyphicon glyphicon-grain" aria-hidden="true"></i> Mashing
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Parameters</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Strike Water Volume</td>
							<td>{{format-number model.session.strikeWaterVolume 1}} l ({{format-number model.session.strikeWaterVolumeOld 1}})</td>
						</tr>
						<tr>
							<td>Strike Water Temp</td>
							<td>{{clickable-text value=model.session.strikeWaterTemp}} &deg;C (Recommended: {{format-number model.session.recommendedStrikeWaterTemp 1}} &deg;C)</td>
						</tr>
						<tr>
							<td>Mashing Temp</td>
							<td>{{model.session.recipe.mashingTemp}} &deg;C</td>
						</tr>
						<tr>
							<td>Mashing Time</td>
							<td>{{model.session.recipe.mashingTime}} min</td>
						</tr>
						<tr>
							<td>Mash Out Temp</td>
							<td>{{model.session.recipe.mashOutTemp}} &deg;C</td>
						</tr>
						<tr>
							<td>Mash Out Time</td>
							<td>{{model.session.recipe.mashOutTime}} min</td>
						</tr>
						<tr>
							<td>Total Malt Weight</td>
							<td>{{format-number model.session.totalMaltWeight 2}} kg (Recipe: {{format-number model.session.totalMaltWeightRecipeScaled 2}} kg)</td>
						</tr>
						<tr>
							<td>Water/Malt Ratio</td>
							<td>{{format-number model.session.waterToMaltRatio 2}}</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3">Malt</th>
						</tr>
					</thead>
					<tbody>
						{{#each model.session.mashEntries as |entry|}}
						<tr>
							<td>{{entry.recipeEntry.ingredient.name}}: {{entry.weight}} kg</td>
							<td>Extract: {{format-number entry.recipeEntry.ingredient.extractYield 3}}</td>
							<td>({{format-number entry.amount 1}}%)</td>
						</tr>
						{{/each}}
						<tr>
							<td colspan="3">Debug</td>
						</tr>
						{{#each model.session.scaledMashIngredients as |item|}}
						<tr>
							<td>{{item.entry.ingredient.name}}: {{format-number item.weight 2}} kg</td>
							<td>Extract: {{format-number item.entry.ingredient.extractYield 3}}</td>
							<td>({{item.entry.amount}}%)</td>
						</tr>
						{{/each}}
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3">Expected Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Conversion Efficiency</td>
							<td colspan="2">{{model.session.brewingSystem.conversionEfficiency}}% (Recipe: {{model.session.recipe.conversionEfficiency}}%)</td>
						</tr>
						<tr>
							<td>First Wort SG</td>
							<td>{{format-number model.session.firstWortSG 3}} (Recipe: {{format-number model.session.recipe.firstWortSG 3}})</td>
							<td>{{collapse-button toggleParam=showFirstWortExtract}}</td>
						</tr>
						{{#if showFirstWortExtract}}
						<tr bgcolor="#EEEEEE">
							<td>Average Extract Yield</td>
							<td colspan="2">{{format-number model.session.averageExtractYield 3}}</td>
						</tr>
						<tr bgcolor="#EEEEEE">
							<td>Total Extract Weight</td>
							<td colspan="2">{{format-number model.session.totalExtractWeight 2}} kg</td>
						</tr>
						<tr bgcolor="#EEEEEE">
							<td>First Wort Extract Weight</td>
							<td colspan="2">{{format-number model.session.firstWortExtractWeight 2}} kg</td>
						</tr>
						{{/if}}
					</tbody>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Measured Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First Wort SG</td>
							<td>{{clickable-text value=model.session.measuredFirstWortSG}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="fa fa-shower" aria-hidden="true"></i> Lautering
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Parameters</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Sparge Water Volume</td>
							<td>{{format-number model.session.spargeWaterVolume 2}} l ({{format-number model.session.spargeWaterVolumeOld 2}})</td>
						</tr>
						<tr>
							<td>Sparge Water Temp</td>
							<td>{{model.session.recipe.spargeWaterTemp}} &deg;C</td>
						</tr>
						<tr>
							<td>Sparge Time</td>
							<td>{{model.session.recipe.spargeTime}}  min</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3">Expected Results</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First Sparge SG</td>
							<td>{{format-number model.session.firstSpargeSG 3}} (Recipe: {{format-number model.session.recipe.firstSpargeSG 3}})</td>
							<td>{{collapse-button toggleParam=showFirstSpageExtract}}</td>
						</tr>
						{{#if showFirstSpageExtract}}
						<tr bgcolor="#EEEEEE">
							<td>First Sparge Extract Weight</td>
							<td colspan="2">{{format-number model.session.firstSpargeExtractWeight 2}} kg</td>
						</tr>
						{{/if}}
						<tr>
							<td>Pre Boil SG</td>
							<td>{{format-number model.session.preBoilSG 3}} (Recipe: {{format-number model.session.recipe.preBoilSG 3}})</td>
							<td>{{collapse-button toggleParam=showPreBoilExtract}}</td>
						</tr>
						{{#if showPreBoilExtract}}
						<tr bgcolor="#EEEEEE">
							<td>Pre Boil Extract Weight</td>
							<td colspan="2">{{format-number model.session.kettleExtractWeight 2}} kg</td>
						</tr>
						{{/if}}
						<tr>
							<td>Brewhouse Efficiency</td>
							<td colspan="2">{{format-number model.session.brewhouseEfficiency 1}}% (Recipe: {{format-number model.session.recipe.brewhouseEfficiency 1}}%)</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Measured Results</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>First Sparge SG</td>
							<td>{{clickable-text value=model.session.measuredFirstSpargeSG}}</td>
						</tr>
						<tr>
							<td>Pre Boil SG</td>
							<td>{{clickable-text value=model.session.measuredPreBoilSG}}</td>
						</tr>
						<tr>
							<td>Kettle Extract (Based On SG Measurement)</td>
							<td>{{format-number model.session.actualKettleExtract 2}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="fa fa-thermometer-half" aria-hidden="true"></i> Boiling
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Parameters</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Target Pre Boil Volume</td>
							<td>{{model.session.preBoilVolume}} l</td>
						</tr>
						<tr>
							<td>Measured Pre Boil Volume</td>
							<td>{{input type="number" value=model.session.measuredPreBoilVolume}} l</td>
						</tr>
						<tr>
							<td>Target Post Boil Volume</td>
							<td>{{format-number model.session.postBoilVolume 1}} l</td>
						</tr>
						<tr>
							<td>System Boil Off</td>
							<td>{{format-number model.session.brewingSystem.boilOffRate 1}} l/h</td>
						</tr>
						<tr>
							<td>Required Boil Time</td>
							<td>{{format-number model.session.requiredBoilTime 0}}</td>
						</tr>
						<tr>
							<td>Boil Time</td>
							<td>{{clickable-text value=model.session.boilTime}} mins (Recipe: {{model.session.recipe.boilTime}} mins)</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="4">Ingredients</th>
						</tr>
					</thead>
					<tbody>
						{{#each model.session.sortedBoilEntries as |entry|}}
						<tr>
							{{#if entry.recipeEntry.isHops}}
							<td>{{entry.recipeEntry.ingredient.name}}: {{entry.amount}} g</td>
							<td>Alpha: {{entry.recipeEntry.ingredient.alpha}}%</td>
							<td>Add Time: {{entry.addTime}} min</td>
							<td>IBU: {{format-number entry.IBU 1}}</td>
							{{else}}
							<td>{{entry.recipeEntry.ingredient.name}}: {{entry.amount}} g</td>
							<td>Extract: {{entry.recipeEntry.ingredient.extract}}%</td>
							<td>Add Time: {{entry.addTime}} min</td>
							<td></td>
							{{/if}}
						</tr>
						{{/each}}
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3">Expected Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>OG</td>
							<td>{{format-number model.session.OG 3}} (Recipe: {{format-number model.session.recipe.OG 3}})</td>
							<td>{{collapse-button toggleParam=showOGDetails}}</td>
						</tr>
						{{#if showOGDetails}}
						<tr bgcolor="#EEEEEE">
							<td>Extract From Ingredients</td>
							<td colspan="2">{{format-number model.session.totalBoilExtract 2}} kg</td>
						</tr>
						<tr bgcolor="#EEEEEE">
							<td>Post Boil Extract</td>
							<td colspan="2">{{format-number model.session.postBoilExtract 2}} kg</td>
						</tr>
						{{/if}}
						<tr>
							<td>IBU</td>
							<td colspan="2">{{format-number model.session.recipe.IBU 1}}</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Measured Result</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Measured Post Boil Volume</td>
							<td>{{input type="number" value=model.session.measuredPostBoilVolume}} l</td>
						</tr>
						<tr>
							<td>Measured Post Boil Volume (Cold)</td>
							<td>{{format-number model.session.postBoilVolumeCold 1}} l</td>
						</tr>
						<tr>
							<td>OG</td>
							<td>{{input type="number" step="0.001" value=model.session.measuredOG}} ({{format-number model.session.actualOGPlato 1}} &deg;P)</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="fa fa-gear" aria-hidden="true"></i> Fermentation
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Parameters</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Target Fermentation Volume</td>
							<td>{{format-number model.session.fermentationVolume 1}} l</td>
						</tr>
						<tr>
							<td>Measured Fermentation Volume</td>
							<td>{{input type="number" value=model.session.measuredFermentationVolume}} l (Left in Kettle: {{format-number model.session.leftInKettle 1}} l)</td>
						</tr>
						<tr>
							<td>Temperature</td>
							<td>{{model.session.recipe.primaryFermentationTemp}} &deg;C</td>
						</tr>
						<tr>
							<td>Time</td>
							<td>{{model.session.recipe.primaryFermentationTime}} days</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Ingredients</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Yeast</td>
							<td>{{model.session.recipe.yeast.name}}</td>
						</tr>
						<tr>
							<td>Pitch Type</td>
							<td>{{model.session.recipe.pitchType.name}} ({{format-number model.session.recipe.pitchType.pitchRate 2}} billion cells/l wort/&deg;P)</td>
						</tr>
						<tr>
							<td>Yeast Cells Needed</td>
							<td>{{format-number model.session.yeastCellsNeeded 2}} billion</td>
						</tr>
						<tr>
							<td>Yeast Needed</td>
							<td>{{format-number model.session.yeastNeeded 2}} g</td>
						</tr>
						<tr>
							<td>Yeast Used</td>
							<td>{{input type="number" value=model.session.yeastUsed}} g</td>
						</tr>
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="3">Expected Results</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FG</td>
							<td>{{format-number model.session.FG 3}} (Recipe: {{format-number model.session.recipe.FG 3}})</td>
							<td>{{collapse-button toggleParam=showFGDetails}}</td>
						</tr>
						{{#if showFGDetails}}
						<tr bgcolor="#EEEEEE">
							<td>FG Adjusted For Alcohol Density Change</td>
							<td colspan="2">{{format-number model.session.realFG 3}} ({{format-number model.session.realFGPlato 1}}&deg;P)</td>
						</tr>
						<tr bgcolor="#EEEEEE">
							<td>Post Fermentation Extract Weight</td>
							<td colspan="2">{{format-number model.session.postFermentationExtractWeight 2}} kg (Recipe: {{format-number model.session.postFermentationExtractWeightScaled 2}} kg)</td>
						</tr>
						{{/if}}
						<tr>
							<td>ABV</td>
							<td colspan="2">{{format-number model.session.ABV 1}}% (Target: {{format-number model.session.recipe.ABV 1}}%)</td>
						</tr>
						{{#if probablyNotNeeded}}
						<tr bgcolor="#EEEEEE">
							<td>Approximate ABV</td>
							<td colspan="2">{{format-number model.recipe.approxABV 1}}%</td>
						</tr>
						{{/if}}
					</tbody>
				</table>

				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Measured Results</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>FG</td>
							<td>{{input type="number" step="0.001" value=model.session.measuredFG}}</td>
						</tr>
						<tr>
							<td>ABV</td>
							<td colspan="2">{{format-number model.session.realABV 1}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid" style="padding-top:2em;">
			<div style="font-size: 24px;">
				<i class="fa fa-glass" aria-hidden="true"></i> Bottling
			</div>
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th colspan="2">Parameters</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Target Final Volume</td>
							<td>{{model.session.finalVolume}} l</td>
						</tr>
						<tr>
							<td>Measured Final Volume</td>
							<td>{{clickable-text value=model.session.measuredFinalVolume}} l (Left in fermentor: {{format-number model.session.leftInFermentor 1}} l)</td>
						</tr>
						<tr>
							<td>Recommended CO2 For {{model.session.recipe.beer.beerType.name}}</td>
							<td>{{model.session.recipe.beer.beerType.primingCo2Min}} - {{model.session.recipe.beer.beerType.primingCo2Max}} g/l</td>
						</tr>
					</tbody>
					<thead>
						<tr>
							<th colspan="2">Ingredients</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Required Table Sugar</td>
							<td>{{format-number model.session.requiredTableSugar 1}} g</td>
						</tr>
						<tr>
							<td>CO2 Dissolved In Beer</td>
							<td>{{format-number model.session.recipe.dissolvedCO2 2}} g/l</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
				<hr />
				{{#if hasUnsavedChanges}}
				<button {{action "saveModel"}}>Save</button>
				{{else}}
				<button disabled>Nothing to save</button>
				{{/if}}
				<hr />
				<div class="comments">
					<h3 id="comments">Comments ({{model.session.commentCount}})</h3>
					<hr />
					{{#each model.session.rootComments as |comment|}}
					<div class="comment clearfix">
						<div class="comment-avatar">
							<img src={{comment.author.profile.picture}} alt="avatar">
						</div>
						<div class="comment-content clearfix">
							<div class="comment-author">
								<a href="#">{{comment.author.fullName}}</a>
							</div>
							<div class="comment-body">
								<p>{{{comment.content}}}</p>
							</div>
							<div class="comment-meta font-alt">{{format-date comment.created}} - <a href="#">Reply</a></div>
						</div>
						<!-- Comment 2 start -->
						{{#each comment.children as |childComment|}}
						<div class="comment clearfix">
							<div class="comment-avatar">
								<img src={{childComment.author.profile.picture}} alt="avatar">
							</div>
							<div class="comment-content clearfix">
								<div class="comment-author">
									<a href="#">{{childComment.author.fullName}}</a>
								</div>
								<div class="comment-body">
									<p>{{{childComment.content}}}</p>
								</div>
								<div class="comment-meta font-alt">{{format-date childComment.created}} - <a href="#">Reply</a></div>
							</div>
						</div>
						{{/each}}
						<!-- Comment 2 end -->
					</div>
					{{/each}}
					{{#if authManager.isAuthenticated}}
					<hr />
					{{outlet}}
					{{/if}}
				</div>
			</div>
		</div>
