<div class="container-fluid">
	<div class="col-md-12">
		<div class="row gidblog">
			<div class="col-md-8">
				{{#each model as |newsItem|}}
				<header>
					<img src="assets/images/tmp-header.png" style="max-width:100%" />
					<h1>{{newsItem.title}}</h1>
				</header>
				<p class="meta"><span class="glyphicon glyphicon-user"></span> <a href="#">{{newsItem.author.fullName}}</a> <span class="glyphicon glyphicon-calendar"></span> {{format-date newsItem.created}} <span class="glyphicon glyphicon-comment"></span> <a href="#">{{newsItem.commentCount}} Comments</a> <span class="glyphicon glyphicon-tags"></span> <a href="#">Brewing</a>, <a href="#">Hops</a></p>
				<hr />
				<div class="ingress">
					{{! Use tripple braces to show html unencoded }}
					<p>{{{newsItem.htmlPreamble}}}</p>
				</div>
				{{#link-to "news-item" newsItem.id}}Read more{{/link-to}}
				<hr />
				{{/each}}
			</div>
			<div class="col-md-4">
				<h2>Latest posts</h2>
				<hr />
				{{#each model as |newsItem|}}
				<div class="container-fluid">
					<div class="row text-center blog-list">
						<div class="col-md-12 box">
							<div class="box-button" {{action "gotoItem" newsItem.id}}>
								<div class="content">
									<img src="assets/images/logo-small.png" />
									<div class="text">
										<h3>{{newsItem.title}}</h3>
										<p>{{{newsItem.htmlPreamble}}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>